/* Footer.css */
.footer {
  background-color:#eff8ff;
  color: white;
  border-top: 1px solid black;
  /* padding: 40px 0; */
}

.footer-content {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: black;
}

.footer-section {
  flex: 1;
  padding: 20px;
  min-width: 200px;
}

.footer-title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #f8853a;
  font-weight: 600;
}

.footer-logos img {
  margin: 10px 5px;
  width: 50px; /* Adjust the width for better appearance */
  height: auto; /* Maintain aspect ratio */
}

.footer-supported-title,
.footer-download-title {
    margin-top: 10px;
    font-size: 16px;
    color: black;
  /* color: #ddd; */
}

.footer-bottom {
  background-color: #111;
  padding: 20px;
  text-align: center;
}

.footer-bottom a {
  color: #bbb;
}

.footer-bottom a:hover {
  color: white;
}

.newsletter input {
  width: 100%;
}

.newsletter button {
  white-space: nowrap;
}
